<div id="menu">
    <div class="links group1">

        <a href="{{ site.url }}/index.html"
           {% if page.name == "index.md" %}class="selected"{% endif %}>
           Home</a>

        <a href="{{ site.url }}/about.html"
           {% if page.name == "about.md" %}class="selected"{% endif %}>
           About</a>

        <a href="{{ site.url }}/codingConcepts.html"
          {% if page.name == "codingConcepts.md" %}class="selected"{% endif %}>
          Coding Concepts</a>

    </div>

    <div class="links group2">

        <a href="{{ site.url }}/colorPlane.html"
           {% if page.name == "colorPlane.md" %}class="selected"{% endif %}>
           Color + Coordinates</a>

        <a href="{{ site.url }}/drawShapesPart1.html"
           {% if page.name == "drawShapesPart1.md" %}class="selected"{% endif %}>
           Shapes 1</a>

        <a href="{{ site.url }}/tree.html"
            {% if page.name == "tree.md" %}class="selected"{% endif %}>
            Christmas Tree</a>

        <a href="{{ site.url }}/drawShapesPart2.html"
           {% if page.name == "drawShapesPart2.md" %}class="selected"{% endif %}>
           Shapes 2</a>

    </div>

    <div class="links group3">
        <a href="{{ site.url }}/clickBall.html"
            {% if page.name == "clickBall.md" %}class="selected"{% endif %}>
            Click Ball</a>

        <a href="{{ site.url }}/recursion.html"
            {% if page.name == "recursion.md" %}class="selected"{% endif %}>
            Recursion</a>

          <a href="{{ site.url }}/lerpColor.html"
            {% if page.name == "lerpColor.md" %}class="selected"{% endif %}>
            Gradient</a>
    </div>
</div>
